<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">

    <!-- Set the initial view zooming scale for mobile device -->
    <meta name="viewport" content="width = device-width, initial-scale = 1" />

    <title>ArtComp</title>

    <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Site.css">

    <style>
        .btn {
            border: 2px solid #f25939;
            background-color: white;
            padding: 12px 20px;
            font-size: 16px;
            cursor: pointer;
            color: #f25939;
        }

            .btn:hover {
                background: #f25939;
                color: white;
            }
    </style>
</head>
<body>
    <div class="top-container">
        <div class="container py-3">
            <div class="pt-5 align-content-center">
                <div class="title h1 text-center">
                    <h1><span class="wave">👋 Hi there 👋</span></h1>
                    <h3>Welcome to ArtComp, the premier art judging platform!</h3>
                    <marquee direction="left"><h4>Discover, Judge, Celebrate Art with ArtComp</h4></marquee>
                    <br /><br />
                    <a href="~/Home/Login" class="btn">Click here to Login!</a>
                </div>
            </div>

        </div>
    </div>
</body>
</html>