<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="mx-auto card" style="width:400px;">
        <div class="card-body">
            <h4 class="card-title">Work-In-Progress</h4>
            <marquee direction="left"><h5>We apologize for any inconvenience caused.</h5></marquee>
            <p class="card-text">Our development team is still working on creating this page. Come back later to view it again.</p>
            <a href="~/Home/Index" class="btn btn-primary">Back</a>
        </div>
    </div>
</body>
</html>
